<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.document.mappers.CheckSystemMapper">
	<select id="getResultFromExternalSystem" parameterType="com.dou.document.models.ResultDrsModel" statementType="CALLABLE">
		{ call getresult_DRS(#{idOrPhone, mode = IN, jdbcType = VARCHAR},
		#{sum, mode = OUT, jdbcType = INTEGER, javaType = java.lang.Integer})}
	</select>
</mapper>