<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dou.document.mappers.DocumentDistributeMapper">
    <resultMap id="DocumentModel" type="TraInfoModel">
		<result column="DOCUMENT_CD" property="documentCd"/>
		<result column="ID_NO" property="idNo"/>
		<result column="CUSTOMER_ID" property="customerId"/>
		<result column="CUSTOMER_NAME" property="customerNm"/>
		<result column="PRODUCT_ID" property="productId"/>
		<result column="PRODUCT_NAME" property="productNm"/>
		<result column="MANAGER" property="manager"/>
		<result column="SALES_CODE" property="salesCd"/>
		<result column="SALES_NAME" property="salesNm"/>
		<result column="SALES_CHANNEL" property="salesChnl"/>
		<result column="DISTRIBUTE_CSR" property="distributeCsr"/>
		<result column="INVALID_DESCRIPTION" property="invalidDescription"/>
		<result column="TYPE" property="type"/>
		<result column="STATUS" property="status"/>
		<result column="STATUS_CD" property="statusCd"/>
		<result column="STATUS_DATE_CURRENT" property="statusDateCurrent"/>
		<result column="CSR_CODE" property="csrCode"/>
		<result column="SEND_DATE" property="sendDate"/>
		<result column="DISTRIBUTED_DATE" property="distributedDate"/>
		<result column="BRANCH_ID" property="branchId"/>
		<result column="BRANCH_NAME" property="branchNm"/>
		<result column="RETRIEVAL_CSR" property="retrievalCsr"/>
		<result column="NOTE_BPO" property="noteBpo"/>
		<result column="CREATED_BY" property="createdBy"/>
		<result column="RECEIVE_BY" property="receivedBy"/>
		<result column="MODIFIED_BY" property="modifiedBy"/>
		<result column="CREATED_DATE" property="createdDate"/>
		<result column="MODIFIED_DATE" property="modifiedDate"/>
		<result column="RECEIVED_DATE" property="receivedDate"/>
		<result column="CANCEL_STEP_RECEIVE_DATE" property="cancelStepReceiveDate"/>
		<result column="PARTNER" property="partner"/>
		<result column="BPO_CHECK" property="bpoCheck"/>
		<!--<result column="IS_DELETED" property="isDeleted"/>-->
		<result column="DEADLINE" property="deadline"/>


	</resultMap>
    
		<resultMap id="CsrModel" type="CsrModel">
        <result column="FULLNAME" property="fullname"/>
        <result column="ACCOUNTID" property="accountId"/>
        <result column="SALE_CHANNEL" property="salesChnl"/>
        <result column="BRANCH_NAME" property="branchNm"/>
        <result column="count" property="count"/>
        <result column="DOC_NO" property="docNo"/>
    </resultMap>
    
    <select id="searchDistributeDocument" resultMap="DocumentModel" parameterType="map">
       SELECT
			*,
			(SELECT status.STATUS_DMT_NM
			FROM MAFCDB.DMT_STATUS status
			WHERE status.STATUS_DMT_CD = docmt.STATUS_CD) as STATUS,
  			(CASE
          		WHEN STATUS_CD = 'CANCEL_STEP_RECEIVED' THEN (SELECT docstatus.DESCRIPTION
														FROM MAFCDB.DMT_DOCUMENTS_STATUS docstatus INNER JOIN MAFCDB.DMT_STATUS status
														ON  docstatus.STATUS_CD = status.STATUS_DMT_CD
														WHERE docstatus.DOCUMENT_CD = docmt.DOCUMENT_CD
														ORDER BY docstatus.CREATED_DATE DESC
											  			FETCH FIRST 1 ROWS ONLY)
				ELSE ''
				END) as INVALID_DESCRIPTION,
			(SELECT DOCSTS.CREATED_DATE
			FROM
			MAFCDB.DMT_DOCUMENTS_STATUS DOCSTS
			WHERE
			1 = 1 AND
			DOCSTS.DOCUMENT_CD = docmt.DOCUMENT_CD
			AND STATUS_CD ='RECEIVED' ORDER BY DOCSTS.CREATED_DATE DESC FETCH FIRST 1 ROWS ONLY) as RECEIVED_DATE,
	        (CASE WHEN STATUS_CD = 'CANCEL_STEP_RECEIVED' THEN STATUS_DATE_CURRENT
	          ELSE null
	         END) as CANCEL_STEP_RECEIVE_DATE,
	        (SELECT CREATED_DATE
			FROM
			MAFCDB.DMT_DOCUMENTS_STATUS DOCSTS
			WHERE
			1 = 1 AND
			DOCSTS.DOCUMENT_CD = docmt.DOCUMENT_CD
			AND STATUS_CD ='SENDING') as SEND_DATE,
			RECEIVE_BY,
			RETRIEVAL_CSR
		FROM
			MAFCDB.DMT_DOCUMENTS docmt
		WHERE 1 = 1
		<if test="status != null and status.length() > 0">
			AND STATUS_CD = #{status}
		</if>
		<if test="status != null and status.length() > 0 and dateParam != null and dateParam.length() > 0">
			AND DATE(STATUS_DATE_CURRENT) = Date(To_Date(#{dateParam}, 'DD/MM/YYYY'))
		</if>
		<if test="checkDuplicate != null and checkDuplicate == true">
			AND STATUS_CD IN ('ORIGINAL', 'VALID', 'SENDING')
			AND ID_NO = #{id}
		</if>
		<if test="checkDuplicate == false">
			AND BRANCH_ID = #{branch}
		</if>
    </select>
    
	<select id="getCsrList" resultMap="CsrModel" parameterType="string">
		SELECT
			ACCOUNTID,
			FULLNAME,
			dept.NAME as SALE_CHANNEL,
			branch.NAME as BRANCH_NAME,
			0 as count,	
			(SELECT DOC_NO
				FROM (SELECT DCT.DISTRIBUTE_CSR,
				COUNT(DCT.ID_NO) AS DOC_NO
				FROM MAFCDB.DMT_DOCUMENTS DCT, MAFCDB.DMT_DOCUMENTS_STATUS DCTSTS
				WHERE DCT.DOCUMENT_CD = DCTSTS.DOCUMENT_CD AND VARCHAR_FORMAT(DATE(DCTSTS.CREATED_DATE), 'YYYY-MM') = VARCHAR_FORMAT(CURRENT TIMESTAMP, 'YYYY-MM') and DCTSTS.STATUS_CD IN('DISTRIBUTED')
				GROUP BY DCT.DISTRIBUTE_CSR
			)
			WHERE DISTRIBUTE_CSR = ACCOUNTID) as DOC_NO
		FROM
			MAACC.${table} sale,
			MAACC.BRANCH branch,
			MAACC.DEPARTMENT dept
		WHERE sale.BRANCHID = branch.BRANCH_ID(+) AND sale.DEPARTMENTID = dept.DEPARTMENT_ID(+)
		AND sale.BRANCHID = #{branch}
	</select>
</mapper>